<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script>
    window.__uiv_options = {
      locale: {
        uiv: {
          datePicker: {
            clear: '清空',
            today: '今天',
            month: '月',
            month1: '一月',
            month2: '二月',
            month3: '三月',
            month4: '四月',
            month5: '五月',
            month6: '六月',
            month7: '七月',
            month8: '八月',
            month9: '九月',
            month10: '十月',
            month11: '十一月',
            month12: '十二月',
            year: '年',
            week1: '一',
            week2: '二',
            week3: '三',
            week4: '四',
            week5: '五',
            week6: '六',
            week7: '日'
          },
          timePicker: {
            am: '上午',
            pm: '下午'
          },
          modal: {
            cancel: '取消',
            ok: '确认'
          },
          multiSelect: {
            placeholder: '选择...',
            filterPlaceholder: '搜索...'
          }
        }
      }
    }
  </script>
  <script src="../dist/uiv.min.js"></script>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <div>
    <btn type="primary" @click="show=!show">Click me!</btn>
  </div>
  <br/>
  <collapse v-model="show">
    <div class="well" style="margin-bottom: 0">Hi there.</div>
  </collapse>
  <tabs>
    <tab>Tab content 1.</tab>
    <tab>Tab content 2.</tab>
  </tabs>
  <section>
    <date-picker v-model="date"/>
    <br/>
    <alert type="info" v-show="date">You selected <b>{{date}}</b>.</alert>
  </section>
</div>
<script>
  // No need to install uiv, we already do this for you after script loaded.
  new Vue({
    data () {
      return {
        date: null,
        show: false
      }
    }
  }).$mount('#app')
</script>
</body>
</html>
