{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ],
    "transform-object-assign",
    "syntax-dynamic-import"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "latest",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
