language: node_js
cache:
  yarn: true
  directories:
  - node_modules
node_js:
  - "node"
script:
  - npm run test
  - npm run build
  - npm run build-docs
after_success: 'npm run coveralls'

deploy:
  - provider: npm
    skip_cleanup: true
    email: "wxsms@foxmail.com"
    api_key: $NPM_TOKEN
    on:
      tags: true
      branch: release
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: dist-docs
    on:
      branch: release
