@import "variables";

body, html {
  max-width: 100%;
}

#app {
  display: flex;
}

.page {

  &.page-home {
    background: @home-bg-gradient-to;
    background: -webkit-linear-gradient(to bottom, @home-bg-gradient-from, @home-bg-gradient-to);
    background: linear-gradient(to bottom, @home-bg-gradient-from, @home-bg-gradient-to);
    color: #fff;

    .page-footer {
      background: transparent;
      border-color: transparent;
      color: rgba(255, 255, 255, .5);

      a {
        color: #fff;

        &:hover, &:active, &:focus {
          color: #fff;
        }
      }
    }
  }
}

.nav-pills > li > a {
  border-radius: 0;
}

pre {
  padding: 0;
  border-color: #ddd;

  code {
    white-space: pre;
    word-wrap: normal;
    display: block;
    overflow-x: auto;
    border-radius: 0;
    border: none;
    padding: 12px !important;
    background-color: transparent !important;
  }
}

.container-markdown {

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    .header-anchor {
      font-size: 80%;
      display: none;
      text-decoration: none !important;
    }

    &:hover {
      .header-anchor {
        display: inline;
      }
    }
  }

  // Add `page-header` style
  h1, h2 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }

  .markdown-live-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border: #ddd 1px solid;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    padding: 45px 15px 15px;
    position: relative;

    &:after {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 12px;
      font-weight: 700;
      color: #959595;
      text-transform: uppercase;
      letter-spacing: 1px;
      content: "Example";
    }

    + pre {
      border-radius: 0 0 4px 4px;
      border-top: none;
    }
  }
}
