name: publish doc

on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: dev
      - uses: pnpm/action-setup@v2.2.1
        with:
          version: latest
      - run: pnpm i --frozen-lockfile
      - name: Build
        run: pnpm run docs:build
      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target_branch: gh-pages
          build_dir: docs/.vitepress/dist
          jekyll: false
