name: publish github

on:
  push:
    tags:
      - 'v*'

jobs:
  publish_github:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: change package name
        uses: deef0000dragon1/json-edit-action@v1
        env:
          KEY: name
          VALUE: "@uiv-lib/uiv"
          FILE: package.json
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: latest
          run_install: true
      - name: Build dist
        run: pnpm run dist
      - run: echo //npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }} >> .npmrc
      - run: npm publish --registry=https://npm.pkg.github.com
